<section class="equipment">
  <div class="equipment__container">
    <h2 class="equipment__title">Оснащение</h2>
    <div class="swiper equipment__slider">
      <div class="equipment__background swiper-wrapper">
        <div class="equipment__image swiper-slide active" data-tab="1">
          <img src="./img/equip/01.webp" alt="">
        </div>
        <div class="equipment__image swiper-slide" data-tab="2">
          <img src="./img/equip/02.webp" alt="">
        </div>
        <div class="equipment__image swiper-slide" data-tab="4">
          <img src="./img/equip/03.webp" alt="">
        </div>
        <div class="equipment__image swiper-slide" data-tab="3">
          <img src="./img/equip/04.webp" alt="">
        </div>
        <div class="equipment__image swiper-slide" data-tab="5">
          <img src="./img/equip/05.webp" alt="">
        </div>
        <div class="equipment__image swiper-slide" data-tab="6">
          <img src="./img/equip/06.webp" alt="">
        </div>
      </div>
      <div class="swiper equipment__slider-items">
        <div class="equipment__arrows">
          <div class="equipment__arr equipment__arr--prev">
            <span></span>
          </div>
          <div class="equipment__arr equipment__arr--next">
            <span></span>
          </div>
        </div>
        <div class="equipment__items swiper-wrapper">
          <div class="equipment__item swiper-slide equip active" data-tab="1">
            <span class="equip__text">Жилых домов</span>
          </div>
          <div class="equipment__item swiper-slide equip" data-tab="2">
            <span class="equip__text">Торговых центров</span>
          </div>
          <div class="equipment__item swiper-slide equip" data-tab="3">
            <span class="equip__text">Поликлиник</span>
          </div>
          <div class="equipment__item swiper-slide equip" data-tab="4">
            <span class="equip__text">Бизнес-центров</span>
          </div>
          <div class="equipment__item swiper-slide equip" data-tab="5">
            <span class="equip__text">Школ</span>
          </div>
          <div class="equipment__item swiper-slide equip" data-tab="6">
            <span class="equip__text">Производств</span>
          </div>
        </div>
      </div>
      <div class="equipment__control">
        <div class="eq__menu">
          <div class="burger">
            <div class="burger__line"></div>
          </div>
        </div>
        <div class="equipment__pagination swiper-paginataion"></div>
        <div></div>
      </div>
    </div>
    <p class="equipment__subtitle">Для тех, кто ценит климат и качество воздуха</p>
  </div>

</section>