<div class="menu">
  <div class="menu__body">
    <nav class="menu__nav nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">О компании</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Новости</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Оборудование</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Каталог</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Диллерам</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Сертификаты</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Вход</a>
        </li>
      </ul>
      <a href="mailto:zakaz@ventart.ru" class="menu__link nav__link">zakaz@ventart.ru</a>
      <a href="tel:+7 (495) 120-00-66" class="menu__link nav__link">+7 (495) 120-00-66</a>
    </nav>
  </div>
</div>